---
title: "{{{name}}}"
description: "{{{shortDescription}}}"
image: {{{showcase.imageUrl}}}
---

import { DownloadLink } from '@/components/download-link';
import { ClassDetail, Showcase, ClassDescription } from '@/components/class-detail';
import { Tabs } from 'nextra/components'

# {{name}}{{#compendium}} [Compendio]{{/compendium}}
{{#isHomebrewClass}}

*{{{authors}}}, {{{collection}}}*

{{/isHomebrewClass}}

<ClassDetail>
    <Showcase>
        ![]({{{showcase.imageUrl}}})
        {{{showcase.heroName}}}
    </Showcase>
    <ClassDescription>
        {{{description}}}
    </ClassDescription>
</ClassDetail>

<br/>

<Tabs items={['DOWNLOADS', 'CREDITI', 'LICENZA']}>
  <Tabs.Tab>
     {{#assets}}
      <br/>
      <DownloadLink href="{{{url}}}">{{{name}}}</DownloadLink>
    {{/assets}}
  </Tabs.Tab>
  <Tabs.Tab>
    {{#credits}}
    **{{{kind}}}**
      {{#contributors}}
    - {{{.}}}
      {{/contributors}}

    {{/credits}}
  </Tabs.Tab>
  <Tabs.Tab>
    [{{{license.name}}}]({{{license.url}}})
  </Tabs.Tab>
</Tabs>